@import "mixins";

header {
  @include flex(center, center, row);
  width: 100%;
  text-align: center;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.4);

  mat-icon {
    font-size: 2.5rem;
    padding-right: 2rem;
    height: auto;
  }
}
